
.Paginate{
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    cursor: pointer;
}


.active{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#1f6feb;
    color: #fff;
    border-radius: 5px;
}

.pageLinkClassName{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pageLinkClassName:hover{
    border: .5px solid #333;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .Paginate{
        max-width: 100%;
        margin: auto;
        gap: .4%;
        border: 1px solid red;
        font-size: .5rem;
    }
    .pageLinkClassName{
       
        width: 20px;
        height: 20px;
    }
    .active{
       
        width: 20px;
        height: 20px;
       
       
    }
  }
  @media screen and (min-width: 480px) and (max-width: 720px) {
    .className{
        max-width: 100%;
        margin: auto;
        gap: .5%;
        border: 1px solid red;
        font-size: .9rem;
    }
    .pageLinkClassName{
        width: 25px;
        height: 25px;
    }
    .active{
        width: 25px;
        height: 25px;  
    }
  }
